.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 635px) {
  .cards__list {
    grid-template-columns: minmax(242px, 371px);
  }
}