.card__preview {
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  transition: transform .3s linear;
}

.card__preview:hover {
  cursor: pointer;
  transform: scale(1.1);
}
