.cards__like-btn {
  background-image: url(../../../images/icon-heart_transparent.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  transition: opacity .3s linear;
  padding: 0;
}

.cards__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}

.cards__like-btn:focus {
  outline: none;
}

.cards__like-btn:active {
  background-image: url(../../../images/icon-heart_black.svg);
}
