.profile__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 42px);
  font-weight: 500;
  font-size: 42px;
  line-height: 1.17;
  margin: 0 18px 0 0;
}

@media screen and (max-width: 635px) {
  .profile__name {
    max-width: calc(100vw - 118px);
    font-size: calc(27px + 15 * ((100vw - 320px) / 315));
    line-height: 1.2;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 27px;
  }
}
