.profile__description {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

@media screen and (max-width: 635px) {
  .profile__description {
    font-size: calc(14px + 4 * ((100vw - 320px) / 315));
  }
}

@media screen and (max-width: 320px) {
  .profile__description {
    font-size: 14px;
  }
}
