.profile__edit-btn {
  display: inline-flex;
  box-sizing: border-box;
  background-image: url(../../../images/icon-pen.svg);
  background-color: transparent;
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  transition: opacity .3s linear;
  padding: 0;
}

.profile__edit-btn:focus {
  outline: none;
}

.profile__edit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 635px) {
  .profile__edit-btn {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}
