.button_close {
  background-image: url(../../../images/icon-plus.svg);
  transform: rotate(45deg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 635px) {
  .button_close {
    width: 26px;
    height: 26px;
    top: -24px;
    right: 13px;
  }
}
